body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 71.3%;
  margin: 0 auto;
}

.display-block {
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #222222;
}

.header__icon {
  fill: #E8E8E8;
}

.header__wrapper {
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__list {
  display: flex;
}

.header__navigation {
  display: none;
}

.header .header__button {
  background-color: transparent;
  border: none;
  margin: 0 0 0 33px;
}

.header .header__button:hover .header__icon {
  fill: red;
  cursor: pointer;
}

@media (max-width: 375px) {
  .mobile-hide {
    display: none;
  }
}

.intro {
  display: flex;
}

.intro .intro__heading-wrapper {
  width: 100%;
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
}

@media (max-width: 375px) {
  .intro .intro__heading-wrapper {
    min-height: 363px;
  }
}

.intro .intro__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .intro .intro__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .intro .intro__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.intro .intro__text {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1600px) {
  .intro .intro__text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
  }
}

.intro .intro__pink {
  color: #F16D7F;
}

.intro .intro__img {
  width: 50%;
  height: auto;
}

@media (max-width: 375px) {
  .intro .intro__img {
    display: none;
  }
}

.stock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 64px 0 0;
  margin-bottom: 0 0 98px;
}

@media (max-width: 1600px) {
  .stock__list {
    padding: 19px 0 155px;
  }
}

.stock__list .stock__item {
  width: 32%;
  min-height: 360px;
  background-image: url(../img/stock-img-1.jpg);
}

@media (max-width: 1600px) {
  .stock__list .stock__item {
    min-height: 168px;
  }
}

@media (max-width: 375px) {
  .stock__list .stock__item {
    width: 100%;
  }
}

.stock__list .stock__item--man {
  background-image: url(../img/stock-img-2.jpg);
  margin: 0 0 10px;
}

.stock__list .stock__item--woman, .stock__list .stock__item--kid {
  margin: 0 0 10px;
}

.stock__list .stock__item--shoes {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */